/* Font */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@400;500;600;700&display=swap');

/* Colors */

:root{
    --primary : #1a253f;
    --dark : #151a33;
    --secondary : #2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure : #eff2f9;
    --fade : #7081b9;
    --mild : #8997bd;
    --footer : #212a4a;
    --black : #060b1b;
    --twitter : #4ac7ec;
    --dribbble : #ff5da0;
    --success : #1ecab8;
    --danger : #f1646c;
    --dark-blue : #28365f;
    --github : #c47bff;
    --dark-gray : #171f33;
    --yellow : #f3c74d;
    --instagram : #ff4d8b;
}

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
    -webkit-font-smoothing: antialised;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    line-height: 1;
}

.container{
    max-width: 1140px;
    margin:0 auto;
}

nav{
    background: var(--primary);
    padding: 1.6rem 0;
}

nav .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .inner .logo{
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

nav .inner .logo i{
     color: var(--info);
}

nav .inner button{
    background: var(--secondary);
    border: none;
    padding: 0.6rem 1rem;
    color: var(--pure);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

nav .inner button:hover{
    background: rgba(77, 121, 246, 0.2);
}

section.profile{
    background: var(--black);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 4rem;
}

section.profile .left{
    flex: 2;
    display: flex;
    align-items: center;
}

section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after{
    background: linear-gradient(to right, var(--secondary), var(--success));
}

section.profile .left p b{
    padding-bottom: 1rem;
    font-weight: 400;
}
section.profile .left h2{
    color: var(--fade);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

section.profile .left p{
    color: var(--mild);
    font-size: 14px;
}

section.profile .left img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

section.profile .left .avatar_block{
    position: relative;
    margin-right: 2rem;
}

section.profile .left .avatar_block span{
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: var(--info);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32, 41, 54, 0.05);
    cursor: pointer;
}

section.profile .right ul.contact{
    list-style-type: none;
    margin-bottom: 1.6rem;
}

section.profile .right ul.contact li{
    color: var(--ternary);
    margin-bottom: 0.7rem;
    font-size: 14px;
}

section.profile .right ul.contact li i{
    font-size: 18px;
    margin-right: 0.3rem;
}

section.profile .right ul.socials{
    display: flex;
    align-items: center;
    list-style-type: none;
}

section.profile .right ul.socials li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--pure);
    line-height: 36px;
    text-align: center;
}

section.profile .right ul.socials li {
    margin-right: 0.8rem;
}

section.profile .right ul.socials li:nth-child(1) a{
    background: var(--instagram);
}

section.profile .right ul.socials li:nth-child(1) a:hover{
    background: var(--dark-blue);
}

section.profile .right ul.socials li:nth-child(2) a{
    background: var(--twitter);
}

section.profile .right ul.socials li:nth-child(2) a:hover{
    background: var(--dark-blue);
}

section.profile .right ul.socials li:nth-child(3) a{
    background: var(--github);
}

section.profile .right ul.socials li:nth-child(3) a:hover{
    background: var(--dark-blue);
}

.section-heading{
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40,54,95,0.1);
    position: relative;
}

section{
    padding: 3rem;
}

main{
    background: var(--primary);
}

.section-heading:after{
    content: '';
    height: 3px;
    width: 80px;
    position: absolute;
    top: 20px;
    left: 0;
    border: 2px solid var(--danger);
    border-radius: 0.2rem;
}

section.about .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16rem;
}

section.about .content h2{
    color: var(--info);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

section.about .content p{
    color: var(--ternary);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}

section.about .content .left button{
    background: rgba(77, 121, 246, 0.1);
    color: var(--info);
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    line-height: 24px;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
}

section.about .content .left button:hover{
    background: rgba(77, 121, 246, 0.2);
}

section.about .content .right p{
    line-height: 1.6;
    font-size: 14px;
    color: var(--ternary);
    letter-spacing: 0.1px;
    margin-bottom : 1rem;
}

section.about .content .right p span:nth-child(1){
    width: 130px;
    float: left;
    font-weight: 800;
    padding-right: 10px;
    display: block;
    position: relative;
}

section.about .content .right p span:nth-child(2){
    padding-left: 150px;
    font-weight: 400;
    display: block;
}

section.about .content .right p span:nth-child(1):after{
    content: ':';
    position: absolute;
    right: 0;
    top: 0;
}

section.skills .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

section.skills .content .left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.skills .content .left .heading{
    margin-bottom: 2rem;
}

section.skills .content .left .heading i{
    color: var(--fade);
    font-size: 52px;
}

section.skills .content .left .heading h5{
    font-size: 16px;
    margin-top: 0.5rem;
    color: var(--mild);
}

section.skills .content .left p{
    color: var(--ternary);
    line-height: 1.7;
}

section.skills .content .left p.center{
    color: var(--fade);
}

section.skills .content .left .item{
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;
}

section.skills .content .left .timeline-wrapper{
    border-left: 2px dotted var(--dark-blue);
}

section.skills .content .left .item:after{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 10px;
    height: 10px;
    border: 2px solid var(--fade);
    border-radius: 50%;
    margin-left: -21px;
}

section.skills .skills-wrapper .skill-box h4{
color: var(--ternary);
font-size: 14px;
text-transform: uppercase;
font-weight: 500;
margin-bottom: 1rem;
}

section.skills .skills-wrapper .skill-box{
    margin-bottom: 4rem;
}

section.skills .skills-wrapper .skill-box .progress-wrap{
    background: #20294a;
    height: 6px;
    width: 100%;;
    box-shadow: 0px 0px 1px 0.25px #4d79f6;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

section.skills .skills-wrapper .skill-box .progress-wrap .progress-bar{
    display: block;
    height: 100%;
    background: var(--info);
    width: 0%;
    position: relative;
    transition: all 1s ease-in-out;
}

section.skills .skills-wrapper .skill-box .progress-wrap .progress-bar .tooltip{
    position: absolute;
    right: -15px;
    top: -30px;
    color: var(--ternary);
    font-size: 16px;
    text-transform: uppercase;
}

section.counter-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--dark-gray);
}

section.counter-wrapper > div{
    display: flex;
    align-items: center;
}

section.counter-wrapper > div i{
    font-size: 42px;
    margin-right: 5px;
}

section.counter-wrapper > div:nth-child(1) i{
    color: var(--yellow);
}

section.counter-wrapper > div:nth-child(2) i{
    color: var(--success);
}

section.counter-wrapper > div:nth-child(3) i{
    color: var(--dribbble);
}

section.counter-wrapper > div h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--fade);
    margin-bottom: 8px;
}

section.counter-wrapper > div h5{
    font-size: 14px;
    color: var(--fade);
}

section.work .wrapper{
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     grid-gap: 60px;
}

section.work .wrapper .portfolio .tabs ul{
     list-style-type: none;
     display: flex;
     justify-content: space-evenly;
}

section.work .wrapper .portfolio .tabs ul li a{
    color: var(--fade);
    border-bottom: 1px solid transparent;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 2px;
}

section.work .wrapper .portfolio .tabs ul li a.active{
    border-color: var(--info);
    color: var(--info);
    transition: all 0.3s ease-in-out;
}

section.work .wrapper .portfolio .portfolio-wrapper{
    margin-top: 4rem;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);  
    */
    display: flex;
}

section.work .wrapper .portfolio-wrapper .item{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}


section.work .wrapper .portfolio .portfolio-wrapper a img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.work .wrapper .slider-wrapper .icon-wrap{
    color: var(--info);
    font-size: 26px;
    text-align: center;
}

section.work .wrapper .slider-wrapper .slider .slide p{
    color: var(--ternary);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 1 rem;
    padding-top: 2 rem;
}

section.work .wrapper .slider-wrapper .slider .slide img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

section.work .wrapper .slider-wrapper .slider .slide h2{
    font-size: 16px;
    color: var(--info);
    margin-top: 1rem;
}

section.work .wrapper .slider-wrapper .slider .slide h6{
    color: var(--ternary);
    margin-top: 1rem;
}

section.work .wrapper .slider-wrapper .slider .slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.work .wrapper .slider-wrapper{
    overflow: hidden;
}

section.partners .brands-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

section.partners .brands-wrapper img {
    max-width: 95px;
    height: 55px;
    margin: 0;
    object-fit: contain;
}